.navbar {
  padding: 0.8rem;
  background-color: #f2f5fd;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.hero {
  background-color: #f7f7f7;
  min-height: 450px;
  text-align: center;
}
.img-hero-inferior {
  width: 700px;
}
.hero-principal {
  padding: 2rem;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
  font-family: "Poppins", sans-serif;
}

.sobre-mi {
  height: 400px;
  padding: 10px;
}
.sobre-mi .contenedor {
  text-align: center;
  max-width: 600px;
}

.seccion-oscura {
  color: white;
  background-color: #6e07f3;
}
.seccion-titulo {
  font-size: 2.5rem;
  padding: 15px 0;
}

.seccion-texto {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
}
.seccion-clara {
  color: black;
  background-color: white;
}
.experiencia {
  padding: 40px 40px 60px 40px;
}

.col-12 h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.experiencia i {
  font-size: 2.5rem;
  color: #1eeca8;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}
.experiencia .col-12 {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
  width: 80%;
}
.experiencia .col-12:hover {
  color: white;
  background-color: #0a0a23;
}
.experiencia-texto {
  font-size: 1.1rem;
}
.fw-bold {
  font-size: 1.2rem;
}
.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}
.badge {
  margin: 5px;
}
.proyectos {
  font-size: 1.1rem;
  margin-bottom: 30px;
  padding: 10px;
}

footer {
  min-height: 300px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.48rem;
  padding: 20px;
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .experiencia {
    padding: 0;
  }
}

@media screen and (min-width: 700px) {
  .img-hero-inferior {
    max-width: 700px;
  }
}
