.navbar {
  padding: 0.8rem;
  background-color: #e9eef8;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.hero {
  background-color: #f7f7f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 2rem;
}

h2 {
  font-size: 1.5rem;
  color: #615151;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
